.cio-product-card {
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cio-image-container {
  width: 100%;
  height: auto;
}

.cio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cio-content {
  width: 100%;
}

.cio-item-price.cio-item-price-sale {
  text-decoration: line-through;
  opacity: 0.7;
  font-weight: 400;
  font-size: 24px;
}

.cio-item-prices-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.cio-item-price {
  margin-top: 16px;
  font-weight: 700;
  font-size: 32px;
  color: black;
  letter-spacing: 2px;
}

.cio-item-name {
  margin-top: 6px;
  font-weight: 300;
  font-size: 20px;
  color: black;
}

.cio-add-to-cart-button {
  margin-top: auto;
  width: 100%;
  background-color: black;
  color: white;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}
