@import './FilterOptionsList.css';
@import './FilterRangeSlider.css';

.cio-filters {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.cio-filter-group {
  list-style-type: none;
}

.cio-filter-group.is-hidden {
  display: none;
}

.cio-filter-header {
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 0 0 8px 0;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 12px;
  text-align: start;
}

.cio-see-all {
  background: none;
  border: none;
  text-decoration-style: dotted;
  text-decoration-line: underline;
  cursor: pointer;
}
