@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import '../src/components/ProductSwatch/ProductSwatch.css';
@import '../src/components/Pagination/pagination.css';

@keyframes cio-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cio-plp-global,
.cio-plp-global * {
  font-family: 'Inter', sans-serif;
}

.cio-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}

.cio-results .cio-product-card {
  flex: 0 0 calc(33.333% - 10px);
  text-align: center;
}

.cio-filter-multiple-options {
  background-color: red;
}

.cio-collapsible-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease-out;
}

.cio-collapsible-wrapper.cio-collapsible-is-open {
  grid-template-rows: 1fr;
}

.cio-collapsible-inner {
  overflow: hidden;
}